.Header {
    margin-top: 16px;
    text-align: center;
    background-color: #02faf9;
    width: 100%;
    height: 100px;
    position: fixed;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.negative {
    background-color: #0a8d95;
    display: column;
    height: 35px;
    justify-content: space-between;
    width: 100%;
}

#root {
    height: 2000px;
}


.Btn {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

li a {
    padding: 5px 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 18px;
}

.Btn1 {
    float: left;
    padding-left: 20px;
}

.Btn2 {
    float: right;
    padding-right: 20px;
}

li:hover {
    background-color: black;
}